http_interactions:
- request:
    method: get
    uri: https://explorer.natureserve.org/api/data/taxonSearch?id=154701
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"elementGlobalId":154701,"circumscripConfidence":null,"classificationLevel":{"id":17,"classificationLevelNameEn":"Species","classificationLevelNameEs":null,"classificationLevelNameFr":"Espèce"},"classificationStatus":{"id":1,"classificationStatusDescEn":"Standard","classificationStatusDescEs":null,"classificationStatusDescFr":"Standard"},"iucn":{"id":5,"iucnDescEn":"Vulnerable","iucnDescEs":null,"iucnDescFr":"Vulnérable","iucnCode":"VU"},"nameCategory":{"id":4,"nameCategoryDescEn":"Vascular
        Plant","nameCategoryDescEs":null,"nameCategoryDescFr":"Plante vasculaire","nameTypeCd":"P","nameTypeDesc":"Botanical"},"rankMethodUsed":{"id":1,"rankMethodUsedDescEn":"Rank
        calculator v.3.1x - 2011-2015 rank factors","rankMethodUsedDescEs":null,"rankMethodUsedDescFr":"Calculateur
        de rang v.3.1x — Facteurs de rang 2011-2015"},"formattedScientificName":"<i>Hydrastis
        canadensis</i>","scientificName":"Hydrastis canadensis","scientificNameAuthor":"L.","primaryCommonName":"Goldenseal","relatedItisNames":"<i>Hydrastis
        canadensis</i> L. (TSN 18781)","uniqueId":"ELEMENT_GLOBAL.2.154701","elcode":"PDRAN0F010","conceptRefFullCitation":"Kartesz,
        J.T. 1994. A synonymized checklist of the vascular flora of the United States,
        Canada, and Greenland. 2nd edition. 2 vols. Timber Press, Portland, OR.","conceptName":"<i>Hydrastis
        canadensis</i>","taxonomicComments":"<i>Hydrastis canadensis</i> occurs in
        eastern North America and is a monotypic genus. In the most current taxonomic
        revision <i>Hydrastis </i>is placed in Hydrastidaceae, with one other monotypic
        genus, <i>Glaucidium,</i> which is restricted to Japan (Tobe 2003).","roundedGRank":"G3","conservationStatusFactorsEditionDate":"2013-04-29","conservationStatusFactorsEditionAuthors":"Oliver,
        L.","primaryCommonNameLanguage":"EN","recordType":"SPECIES","elementNationals":[{"elementNationalId":211679,"classifConfidence":null,"nation":{"id":225,"nameEn":"United
        States","nameEs":null,"nameFr":"États-Unis","isoCode":"US"},"roundedNRank":"N3","elementSubnationals":[{"elementSubnationalId":557226,"subnation":{"id":11,"nameEn":"Delaware","nameEs":null,"nameFr":"Delaware","subnationCode":"DE","dnationId":225},"roundedSRank":"S3","srank":"S3","speciesSubnational":{"elementSubnationalId":557226,"hybrid":false,"exotic":false}},{"elementSubnationalId":295434,"subnation":{"id":41,"nameEn":"New
        York","nameEs":null,"nameFr":"New York","subnationCode":"NY","dnationId":225},"roundedSRank":"S2","srank":"S2","speciesSubnational":{"elementSubnationalId":295434,"hybrid":false,"exotic":false}},{"elementSubnationalId":430764,"subnation":{"id":53,"nameEn":"Virginia","nameEs":null,"nameFr":"Virginie","subnationCode":"VA","dnationId":225},"roundedSRank":"S3","srank":"S3","speciesSubnational":{"elementSubnationalId":4[...]
