http_interactions:
- request:
    method: get
    uri: https://services.natureserve.org/idd/rest/ns/v1.1/globalSpecies/comprehensive?uid=ELEMENT_GLOBAL.2.100925&NSAccessKeyId=<<natserv_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\r\n<globalSpeciesList\r\n
        \   xsi:schemaLocation=\"http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1
        http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1/\"\r\n
        \   xmlns=\"http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1\"\r\n
        \   xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n    schemaVersion=\"1.1\">\r\n
        \ <globalSpecies uid=\"ELEMENT_GLOBAL.2.100925\"\r\n              speciesCode=\"ABNKC22010\"\r\n
        \      >\r\n    <natureServeExplorerURI>http://explorer.natureserve.org/servlet/NatureServe?searchName=Aquila+chrysaetos</natureServeExplorerURI>\r\n<classification>\r\n
        \ <names>\r\n        <scientificName>\r\n          <unformattedName>Aquila
        chrysaetos</unformattedName>\r\n              <formattedName>&lt;i&gt;Aquila
        chrysaetos&lt;/i&gt;</formattedName>\r\n              <nomenclaturalAuthor>(Linnaeus,
        1758)</nomenclaturalAuthor>\r\n              <conceptReference\r\n                  code=\"B98AOU01NAUS\"\r\n
        \        >\r\n                    <formattedFullCitation>American Ornithologists'
        Union (AOU). 1998. Check-list of North American birds. Seventh edition. American
        Ornithologists' Union, Washington, D.C. [as modified by subsequent supplements
        and corrections published in &lt;i&gt;The Auk&lt;/i&gt;]. Also available online:
        http://www.aou.org/.</formattedFullCitation>\r\n                    <nameUsedInConceptReference>\r\n
        \                 <unformattedName>Aquila chrysaetos</unformattedName>\r\n
        \                         <formattedName>&lt;i&gt;Aquila chrysaetos&lt;/i&gt;</formattedName>\r\n
        \               </nameUsedInConceptReference>\r\n              <classificationStatus>Standard</classificationStatus>\r\n
        \     </conceptReference>\r\n            </scientificName>\r\n        <natureServePrimaryGlobalCommonName>Golden
        Eagle</natureServePrimaryGlobalCommonName>\r\n        <otherGlobalCommonNames>\r\n\t\t\t\t\t<commonName
        language=\"FR\">aigle royal</commonName>\r\n\t\t\t\t\t<commonName language=\"EN\">golden
        eagle</commonName>\r\n\t\t\t\t\t<commonName language=\"ES\">Águila Real</commonName>\r\n\t\t
        \   </otherGlobalCommonNames>\r\n      </names>\r\n  <taxonomy>\r\n    <formalTaxonomy>\r\n
        \     <kingdom>Animalia</kingdom>\r\n      <phylum>Craniata</phylum>\r\n      <class>Aves</class>\r\n
        \     <order>Accipitriformes</order>\r\n      <family>Accipitridae</family>\r\n
        \     <genus>Aquila</genus>\r\n\t        <genusSize>\r\n        <code>C</code>\r\n
        \       <description>C - Small genus (6-20 species)</description>\r\n      </genusSize>\r\n
        \             </formalTaxonomy>\r\n    <informalTaxonomy>\r\n          <informalTaxonomyLevel1Name>Animals,
        Vertebrates</informalTaxonomyLevel1Name>\r\n              <informalTaxonomyLevel2Name>Birds</informalTaxonomyLevel2Name>\r\n
        \             <informalTaxonomyLevel3Name>Other Birds</informalTaxonomyLevel3Name>\r\n
        \           </informalTaxonomy>\r\n  </taxonomy>\r\n</classification>\r\n
        \ <conservationStatus>\r\n    <natureServeStatus>\r\n      <globalStatus>\r\n
        \             <rank><code>G5</code></rank>\r\n                    <roundedRank>\r\n
        \         <code>G5</code>\r\n                  <description>Secure</description>\r\n
        \               </roundedRank>\r\n                    <statusLastReviewed>2016-04-06</statusLastReviewed>\r\n
        \                   <statusLastChanged>1996-11-22</statusLastChanged>\r\n
        \           <reasons>Widespread distribution throughout the Northern Hemisphere.
        Still relatively common in some areas. Rank reflects primarily the extensive
        distribution; local threats/declines do not yet comprise a major conservation
        problem from a global perspective.</reasons>\r\n        <conservationStatusFactors>\r\n
        \         <globalAbundance>\r\n              <code>FH</code>\r\n                    <description>10,000
        to &gt;1,000,000 individuals</description>\r\n                    <searchValue>FGH</searchValue>\r\n
        \                   <comments>North American population in the mid-1980s was
        estimated at about 70,000; perhaps about 20,000 breeding pairs occur in the
        western United States. De Smet (1987 COSEWIC report) gave an estimate of 50,000-100,000
        for North America. Kirk et al. (1995) reported that the estimated number of
        breeding pairs in Canada was 1,000-5,000. Rich et al. (2004) estimated global
        population size at 170,000, with approximately half of the total in the United
        States and Canada.</comments>\r\n            </globalAbundance>\r\n              <estimatedNumberOfOccurrences>\r\n
        \             <code>DE</code>\r\n                    <description>81 to &gt;300</description>\r\n
        \                   <searchValue>DE</searchValue>\r\n                    <comments>The
        global number of occurrences has not been precisely determined using standardized
        criteria, but this species clearly  is represented by a large number of occurrences
        (subpopulations).</comments>\r\n            </estimatedNumberOfOccurrences>\r\n
        \             <globalShortTermTrend>\r\n                                <comments>Recent
        data suggest that after several decades of relative stability, golden eagle
        numbers may again be declining in the West, particularly in the sagesteppe
        region (see GBBO 2010).</comments>\r\n            </globalShortTermTrend>\r\n
        \             <globalLongTermTrend>\r\n                                <comments>In
        eastern North America, golden eagles have reappeared in some sites within
        the historical nesting range (De Smet), but the species may be decreasing
        in the northeastern United States (Bednarz et al. 1990). Kirk et al. (1995)
        noted declines in parts of the range in Canada.</comments>\r\n            </globalLongTermTrend>\r\n
        \                 <globalProtection>\r\n                        <code>BC</code>\r\n
        \                         <description>Few to several (1-12) occurrences appropriately
        protected and managed</description>\r\n                          <searchValue>BC</searchValue>\r\n
        \                         <comments>This species is protected in many U.S.
        and Canadian national parks and wilderness areas. It is protected, by similarity
        of appearance, under the Bald Eagle Protection Act.</comments>\r\n                            <needs>Adequate
        protection requires consideration of nesting sites and foraging areas/prey
        populations.</needs>\r\n            </globalProtection>\r\n              <threat>\r\n
        \                                     <comments>Decline in the early 1900s
        was due to eradication campaigns, frequently encouraged by the use of bounties
        (eagle was believed to be a major predator on livestock).&lt;br&gt;&lt;br&gt;Golden
        eagles are extremely susceptible to powerline electrocution because the wings
        can span phase-to-phase or phase-to-ground wires (Biosystems Analysis 1989);
        modifications have been made in problem areas. &lt;br&[...]
