http_interactions:
- request:
    method: get
    uri: https://services.natureserve.org/idd/rest/ns/v1.1/globalSpecies/comprehensive?uid=ELEMENT_GLOBAL.2.101998&NSAccessKeyId=<<natserv_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\r\n<globalSpeciesList\r\n
        \   xsi:schemaLocation=\"http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1
        http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1/\"\r\n
        \   xmlns=\"http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1\"\r\n
        \   xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\r\n    schemaVersion=\"1.1\">\r\n
        \ <globalSpecies uid=\"ELEMENT_GLOBAL.2.101998\"\r\n              speciesCode=\"AFCQS01010\"\r\n
        \      >\r\n    <natureServeExplorerURI>http://explorer.natureserve.org/servlet/NatureServe?searchName=Pomatomus+saltatrix</natureServeExplorerURI>\r\n<classification>\r\n
        \ <names>\r\n        <scientificName>\r\n          <unformattedName>Pomatomus
        saltatrix</unformattedName>\r\n              <formattedName>&lt;i&gt;Pomatomus
        saltatrix&lt;/i&gt;</formattedName>\r\n              <nomenclaturalAuthor>(Linnaeus,
        1766)</nomenclaturalAuthor>\r\n              <conceptReference\r\n                  code=\"B91ROB01NAUS\"\r\n
        \        >\r\n                    <formattedFullCitation>Robins, C.R., R.M.
        Bailey, C.E. Bond, J.R. Brooker, E.A. Lachner, R.N. Lea, and W.B. Scott. 1991.
        Common and scientific names of fishes from the United States and Canada. American
        Fisheries Society, Special Publication 20. 183 pp.</formattedFullCitation>\r\n
        \                   <nameUsedInConceptReference>\r\n                  <unformattedName>Pomatomus
        saltatrix</unformattedName>\r\n                          <formattedName>&lt;i&gt;Pomatomus
        saltatrix&lt;/i&gt;</formattedName>\r\n                </nameUsedInConceptReference>\r\n
        \             <classificationStatus>Standard</classificationStatus>\r\n      </conceptReference>\r\n
        \           </scientificName>\r\n        <natureServePrimaryGlobalCommonName>Bluefish</natureServePrimaryGlobalCommonName>\r\n
        \       </names>\r\n  <taxonomy>\r\n    <formalTaxonomy>\r\n      <kingdom>Animalia</kingdom>\r\n
        \     <phylum>Craniata</phylum>\r\n      <class>Actinopterygii</class>\r\n
        \     <order>Perciformes</order>\r\n      <family>Pomatomidae</family>\r\n
        \     <genus>Pomatomus</genus>\r\n\t          </formalTaxonomy>\r\n    <informalTaxonomy>\r\n
        \         <informalTaxonomyLevel1Name>Animals, Vertebrates</informalTaxonomyLevel1Name>\r\n
        \             <informalTaxonomyLevel2Name>Fishes</informalTaxonomyLevel2Name>\r\n
        \             <informalTaxonomyLevel3Name>Bony Fishes</informalTaxonomyLevel3Name>\r\n
        \             <informalTaxonomyLevel4Name>Other Bony Fishes</informalTaxonomyLevel4Name>\r\n
        \       </informalTaxonomy>\r\n  </taxonomy>\r\n</classification>\r\n  <conservationStatus>\r\n
        \   <natureServeStatus>\r\n      <globalStatus>\r\n              <rank><code>G5</code></rank>\r\n
        \                   <roundedRank>\r\n          <code>G5</code>\r\n                  <description>Secure</description>\r\n
        \               </roundedRank>\r\n                    <statusLastReviewed>1997-01-01</statusLastReviewed>\r\n
        \                   <statusLastChanged>1997-01-01</statusLastChanged>\r\n
        \             <conservationStatusFactors>\r\n                                                  <statusFactorsEditionDate>2010-01-21</statusFactorsEditionDate>\r\n
        \             <conservationStatusAuthors displayValue=\"Hammerson, G.\"></conservationStatusAuthors>\r\n
        \       </conservationStatusFactors>\r\n                <nationalStatuses>\r\n
        \                 <nationalStatus nationName=\"United States\" nationCode=\"US\">\r\n
        \                     <rank><code>N5</code></rank>\r\n                                <roundedRank><code>N5</code></roundedRank>\r\n
        \                               <statusLastReviewed>1996-09-05</statusLastReviewed>\r\n
        \                               <subnationalStatuses>\r\n                          <subnationalStatus\r\n
        \               subnationName=\"Georgia\"\r\n                subnationCode=\"GA\">\r\n
        \                             <rank><code>SNR</code></rank>\r\n                                            <roundedRank><code>SNR</code></roundedRank>\r\n
        \                           </subnationalStatus>\r\n                          <subnationalStatus\r\n
        \               subnationName=\"Louisiana\"\r\n                subnation[...]
