http_interactions:
- request:
    method: get
    uri: https://explorer.natureserve.org/api/data/ecosystemHierarchy/ELEMENT_GLOBAL.2.683060
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-disposition: inline;filename=f.txt
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"uniqueId":"ELEMENT_GLOBAL.2.860217","name":"Forest & Woodland","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.860217/Mesomorphic_Tree_Vegetation_Class","ecosystemType":"CLASS","classificationCode":"1"},{"uniqueId":"ELEMENT_GLOBAL.2.860227","name":"Temperate
        & Boreal Forest & Woodland","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.860227/Temperate_Boreal_Forest_Woodland_Subclass","ecosystemType":"SUBCLASS","classificationCode":"1.B"},{"uniqueId":"ELEMENT_GLOBAL.2.860241","name":"Cool
        Temperate Forest & Woodland","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.860241/Cool_Temperate_Forest_Woodland_Formation","ecosystemType":"FORMATION","classificationCode":"1.B.2"},{"uniqueId":"ELEMENT_GLOBAL.2.86028[...]
