http_interactions:
- request:
    method: post
    uri: https://explorer.natureserve.org/api/export/taxonSearch
    body:
      encoding: ''
      string: '{"criteria":{"criteriaType":"combined","textCriteria":[{"paramType":"quickSearch","searchToken":"tanager"}],"statusCriteria":[],"locationCriteria":[],"recordTypeCriteria":[],"recordSubtypeCriteria":[]},"exportFormat":"summary_json","exportLanguage":"en"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"jobId":"1d8ba017-9a2e-4816-a73e-1a6ad481c0a2"}'
  recorded_at: 2020-05-12 23:58:55 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
