http_interactions:
- request:
    method: post
    uri: https://explorer.natureserve.org/api/data/ecosystemsSearch
    body:
      encoding: ''
      string: '{"criteriaType":"ecosystems","textCriteria":[{"paramType":"quickSearch","searchToken":"robin"}]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"recordType":"ECOSYSTEM","elementGlobalId":899352,"uniqueId":"ELEMENT_GLOBAL.2.899352","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.899352/Liriodendron_tulipifera_-_Juglans_nigra_-_Robinia_pseudoacacia_Ruderal_Forest_Alliance","elcode":"A3228","scientificName":"Liriodendron
        tulipifera - Juglans nigra - Robinia pseudoacacia Ruderal Forest Alliance","formattedScientificName":"<i>Liriodendron
        tulipifera - Juglans nigra - Robinia pseudoacacia</i> Ruderal Forest Alliance","primaryCommonName":"Ruderal
        Tuliptree - Black Walnut - Black Locust Forest","primaryCommonNameLanguage":"EN","roundedGRank":"GNA","nations":[{"nationCode":"CA","roundedNRank":"NNA","subnations":[{"subnationCode":"ON","roundedSRank":"SNA"}]},{"nationCode":"US","roundedNRank":"NNA","subnations":[{"subnationCode":"MI","roundedSRank":"SNA"},{"subnationCode":"IN","roundedSRank":"SNA"},{"subnationCode":"TN","roundedSRank":"SNA"},{"subnationCode":"DE","roundedSRank":"SNA"},{"subnationCode":"NY","roundedSRank":"SNA"},{"subnationCode":"KY","roundedSRank":"SNA"},{"subnationCode":"IL","roundedSRank":"SNA"},{"subnationCode":"AL","roundedSRank":"SNA"},{"subnationCode":"NJ","roundedSRank":"SNA"},{"subnationCode":"PA","roundedSRank":"SNA"},{"subnationCode":"DC","roundedSRank":"SNA"},{"subnationCode":"OK","roundedSRank":"SNA"},{"subnationCode":"VA","roundedSRank":"SNA"},{"subnationCode":"GA","roundedSRank":"SNA"},{"subnationCode":"VT","roundedSRank":"SNA"},{"subnationCode":"MD","roundedSRank":"SNA"},{"subnationCode":"WV","roundedSRank":"SNA"},{"subnationCode":"NC","roundedSRank":"SNA"},{"subnationCode":"MO","roundedSRank":"SNA"},{"subnationCode":"OH","roundedSRank":"SNA"},{"subnationCode":"SC","roundedSRank":"SNA"},{"subnationCode":"IA","roundedSRank":"SNA"},{"subnationCode":"MS","roundedSRank":"SNA"},{"subnationCode":"LA","roundedSRank":"SNA"},{"subnationCode":"AR","roundedSRank":"SNA"},{"subnationCode":"MA","roundedSRank":"SNA"}]}],"lastModified":"2020-04-30T12:34:06.945206Z","ecosystemGlobal":{"translatedScientificName":"Tuliptree
        - Black Walnut - Black Locust Ruderal Forest Alliance","taxclassCode":"1","taxsubclassCode":"1.B","formationCode":"1.B.2","divisionCode":"1.B.2.Na","macrogroupKey":"M013","taxgroupKey":"G030","allianceKey":null,"ecosystemType":"ALLIANCE","classificationCode":"A3228","parentName":"Eastern
        North American Native Ruderal Forest"},"gRank":"GNA"},{"recordType":"ECOSYSTEM","elementGlobalId":1132396,"uniqueId":"ELEMENT_GLOBAL.2.1132396","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.1132396/Robinia_pseudoacacia_-_Exotic_Hardwoods_Ruderal_Woodland_Alliance","elcode":"A4396","scientificName":"Robinia
        pseudoacacia - Exotic Hardwoods Ruderal Woodland Alliance","formattedScientificName":"<i>Robinia
        pseudoacacia</i> - Exotic Hardwoods Ruderal Woodland Alliance","primaryCommonName":"Great
        Plains Exotic Hardwood Woodland","primar[...]
