http_interactions:
- request:
    method: post
    uri: https://explorer.natureserve.org/api/data/speciesSearch
    body:
      encoding: ''
      string: '{"criteriaType":"species","textCriteria":[{"paramType":"quickSearch","searchToken":"robin"}]}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"results":[{"recordType":"SPECIES","elementGlobalId":100637,"uniqueId":"ELEMENT_GLOBAL.2.100637","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.100637/Copsychus_saularis","elcode":"ABPBJ13020","scientificName":"Copsychus
        saularis","formattedScientificName":"<i>Copsychus saularis</i>","primaryCommonName":"Oriental
        Magpie-Robin","primaryCommonNameLanguage":"EN","roundedGRank":"G5","nations":[{"nationCode":"US","roundedNRank":"NNA","subnations":[{"subnationCode":"HI","roundedSRank":"SNA","exotic":true}],"exotic":false}],"lastModified":"2020-04-30T02:06:58.756084Z","speciesGlobal":{"usesaCode":null,"cosewicCode":null,"saraCode":null,"synonyms":[],"otherCommonNames":["Shama
        dayal"],"kingdom":"Animalia","phylum":"Craniata","taxclass":"Aves","taxorder":"Passeriformes","family":"Muscicapidae","genus":"Copsychus","taxonomicComments":"Superspecifically
        related to <i>C. sechellarum</i> of the Seychelles Islands and <i>C. albospecularis</i>
        of Madagascar (Sibley and Monroe 1990). <i>C. niger</i> sometimes is regarded
        as closely related to and possibly conspecific with <i>C. saularis</i> (Sibley
        and Ahlquist 1990).","informalTaxonomy":"Animals - Vertebrates - Birds","infraspecies":false,"completeDistribution":true},"gRank":"G5"},{"recordType":"SPECIES","elementGlobalId":102323,"uniqueId":"ELEMENT_GLOBAL.2.102323","nsxUrl":"/Taxon/ELEMENT_GLOBAL.2.102323/Turdus_grayi","elcode":"ABPBJ20110","scientificName":"Turdus
        grayi","formattedScientificName":"<i>Turdus grayi</i>","primaryCommonName":"Clay-colored
        Thrush","primaryCommonNameLanguage":"EN","roundedGRank":"G5","nations":[{"nationCode":"US","roundedNRank":"N1","subnations":[{"subnationCode":"TX","roundedSRank":"S2B","exotic":false}],"exotic":false}][...]
