http_interactions:
- request:
    method: get
    uri: https://services.natureserve.org/idd/rest/ns/v1/globalSpecies/list/nameSearch?name=asdfasf&NSAccessKeyId=<<natserv_api_token>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/xml
    body:
      encoding: UTF-8
      file: no
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n\r\n<speciesSearchReport
        \r\n    xsi:schemaLocation=\"http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1
        http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1/\" \r\n
        \   xmlns=\"http://services.natureserve.org/docs/schemas/biodiversityDataFlow/1\"
        \r\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" \r\n    schemaVersion=\"1.1\">\r\n\t<conditions>\r\n\t\t<match>\r\n\t\t\t<searchTerm>asdfasf</searchTerm>\r\n\t\t</match>\r\n\t</conditions>\r\n\t<speciesSearchResultList>\r\n</speciesSearchResultList>\r\n</speciesSearchReport>"
  recorded_at: 2020-03-03 18:23:25 GMT
  recorded_with: vcr/0.5.0, webmockr/0.6.0
